<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#navbar-content"
                aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">FCC Voting App</a>
        </div>

        <div id="navbar-content" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/polls">Polls</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(!loggedUser) { %>
                    <li>
                        <a href="/auth/login">Login</a>
                    </li>
                    <li>
                        <a href="/auth/register">Sign Up</a>
                    </li>
                <% } else { %>
                    <li class="dropdown">
                        <a href="#"
                            class="dropdown-toggle"
                            data-toggle="dropdown"
                            role="button"
                            aria-hashpopup="true"
                            aria-expanded="false">
                            Hello <%= loggedUser.username %> <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                <a href="/users/polls">My Polls</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="/auth/Logout">Logout</a>
                            </li>
                        </ul>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>