<% include partials/header %>

<div class="container">
    
    <div class="row">
        <h1 class="text-center">
            Voting App
            <p class="lead">FreeCodeCamp</p>
        </h1>
    </div>

</div>

<% include partials/footer %>