.extra-option {
    margin-top: 0.3em;
}

#more-options {
    margin-top: 0.3em;
}

.extra-option-close {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
}

.extra-option-close:hover {
    color: red;
}