<% include ../partials/header %>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <h1 class="text-center">Current Polls</h1>
            <hr>

            <% polls.forEach(poll => { %>
                <div class="col-sm-4">
                    <div class="well">
                        <h3>
                            <%= poll.title %> <small>by <%= poll.author.username %></small>
                        </h3>

                        <a class="btn btn-sm btn-success" href="/polls/<%= poll._id %>">Vote</a>
                        <a class="btn btn-sm btn-warning">Share</a>
                    </div>
                </div>
            <% })%>
        
        </div>
    </div>

</div>

<% include ../partials/footer %>